@using Coats.Crafts.Data;
@using System.Text;
@using Coats.Crafts.Configuration;
@using DD4T.ContentModel.Factories;
@using Coats.Crafts.Extensions;

@*  
--------------------------------------------------------------------------
View to display comments that have been added against components
-------------------------------------------------------------------------- 
*@

@model List<Coats.Crafts.CDS.Comment>

@{
    Layout = null;
    String comment = String.Empty;
	String comp = String.Empty;
	String compid = String.Empty;
	Int32 commentCount = (Model != null) ? Model.Count() : 0;

	String textNoComments = Html.GetResource("NoCommentsFoundForUser");
	String textPostedIn = Html.GetResource("PostedIn");
    string commentDate = string.Empty;
    string timeZoneAbbr = !string.IsNullOrEmpty(WebConfiguration.Current.TimeZoneAbbr) ? "(" + WebConfiguration.Current.TimeZoneAbbr + ")" : string.Empty;
    //string timeZone = WebConfiguration.Current.TimeZone;
    
    if (Model != null && commentCount > 0)
    {
		for (var i = 0; i < commentCount; i++)
        {
            comment = Model[i].Content.Replace("#nl", "<br/>");
            comp = Model[i].ItemId.ToString();

			commentDate = DateTimeFormatExtensions.CoatsDatePatternByTimezone(Model[i].CreationDate);
            
            compid = "tcm:" + Model[i].ItemPublicationId + "-" + comp;

            var linkedComponent = Html.ComponentInfo(compid);

            var link = Html.Link(linkedComponent);

            if (!String.IsNullOrEmpty(link.ToString()))
            {
                <article class="UserComments">
                    @*@Html.GravatarImage(user)*@
			        <p>@comment</p>
			        <ul class="metadata">
				        <li class="category">@textPostedIn @link</li>
				        <li class="datetime">@commentDate</li>
			        </ul>
	            </article>
            }
        }
	}
	else
	{
		<p>@textNoComments</p>
	}
}



