@using DD4T.ContentModel;
@using DD4T.Mvc.Html;


@model IComponentPresentation

@{
    Layout = null;
}

<div>

    @using (Html.BeginForm("ShoppingListInsertItems", "ShoppingList", FormMethod.Post, new { @class = "AddToShoppingList-form" }))
    {
        var i = 0;
        foreach (FieldSet product in Model.Component.Fields["products"].EmbeddedValues)
        {
            
            if (product.ContainsKey("quantity") && product.ContainsKey("product"))
            {
                var quantity = product["quantity"].Value;
                var tcm = product["product"].Value;
                var projName = Model.Component.Title;
                
                <input type="hidden" value="@tcm" name="items[@i].ProductTcmID" />
                <input type="hidden" value="@quantity" name="items[@i].Quantity" />
                <input type="hidden" value="@projName" name="items[@i].ProjectName" />
            }
            i++;
        }

     
        <input type="submit" value="Add items to shopping list" />
    }

</div>
    

