@model Coats.Crafts.Models.FacetedContent
@if (Session["BRAND_FILTER"] != null)
{
    string[] brandFilterParts = Session["BRAND_FILTER"].ToString().Split('|');

    <div class="brand-filter">
        @if (Model.Brand != null)
        {
            <h1>@Model.Brand.Keywords[0].Title</h1>
            @Html.Image(Model.Brand.Keywords[0].MetadataFields["logo"])
        }
        
        @foreach (var facetSection in Model.FacetMap.FacetSections)
        {
            if (facetSection.SectionTitle.ToLower() == brandFilterParts[0].ToLower())
            {
                foreach (var facet in facetSection.Facets)
                {
                    if (facet.Text.ToLower() == brandFilterParts[1].ToLower())
                    {
            <a href="@facet.Value">Clear Brand Session</a>
                    }
                }
            }
        }
    </div>
}
