<section class="component colour-swatches izotaup">
	<div class="row-fluid">
		<div class="span12">
			<h2 class="header-rule">Colour swatches</h2>
		</div>
	</div>
	<div class="pods">
		<div class="row-fluid">
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
		</div>
		<div class="row-fluid">
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
		</div>
		<div class="row-fluid">
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
		</div>
		<div class="row-fluid">
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
			<div class="pod span3">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/600/360" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<h2>Fingerless gloves</h2>
					<span class="colour">002</span>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>