@using Coats.Crafts.Configuration;
@using Coats.Crafts.Extensions;

@{
    Layout = null;

    var config = CountryConfig.Instance;
    var countryList = config.Countries;
    //var countryList = CountryConfig.List();
	
	string countries = string.Empty;
	string selectedCountry = string.Empty;
    
    foreach (var countryItem in countryList)
    {
        string country = countryItem.Value.Name;
		string redirectUrl = Url.Content(("/CountrySelector/RedirectCountry?countryUrl=" + countryItem.Value.Url).AddApplicationRoot());
        string culture = countryItem.Value.Culture;
        string currentCulture = WebConfiguration.Current.Culture;
		string countryFlagImage = "/img/" + culture + ".jpg";
		string countryFlagUrl = Url.Content(countryFlagImage.AddApplicationRoot());

		if (culture.ToLower().Equals(currentCulture.ToLower()))
		{
			selectedCountry = "<span><img src=\"" + countryFlagUrl + "\" /> " + country + "</span>";
		}
		else
		{
			countries += "<li><a href=\"" + redirectUrl + "\"><img src=\"" + countryFlagUrl + "\" /> " + country + "</a></li>";
		}
    }
}

<div class="span12 country">
	@Html.Raw(@selectedCountry)
	<ul>
        @Html.Raw(@countries)
	</ul>
</div>