
          
@*<div class="span6 offset1 facebook">
			<h1>Facebook recent activity</h1>
			<article>
				<img src="http://placekitten.com/80/80" alt="" class="avatar" />
				<div class="content">
					<p>Amy butler has added two fabulous FREE patterns to her website; Sweet Slices pillow and Alchemy quilt. Both projects use the Alchemy range of fabrics designed by Amy for Rowan.</p>
					<p>Download your FREE pattersn by clicking the following link: <a href="http://www.amybutlerdesign.com/products/free_patterns.php" title="">http://www.amybutlerdesign.com/products/free_patterns.php</a></p>
					<ul class="metadata">
						<li class="datetime">1 hour ago</li>
						<li class="category"><a href="" title="">View on Facebook</a></li>
					</ul>
				</div>
			</article>
			<article>
				<img src="http://placekitten.com/80/80" alt="" class="avatar" />
					<div class="content">
						<img src="http://placekitten.com/130/130" />
						<p>This cute hat is perfect for girls or boys! the hat is knit and the edge and embellisments are crocheted.</p>
						<p><a href="http://www.redheart.com/free-pattersn/make-me-owl-hat" title="">http://www.redheart.com/free-pattersn/make-me-owl-hat</a></p>
						<ul class="metadata">
							<li class="datetime">1 hour ago</li>
							<li class="category"><a href="" title="">View on Facebook</a></li>
						</ul>
					</div>
			</article>
         </div>*@