@using DD4T.ContentModel;
@using DD4T.Mvc.Html;

@model IComponentPresentation

@{
    Layout = null;
    var fields = @Model.Component.Fields;

    IList<IFieldSet> images = new List<IFieldSet>();

    if (fields["banner"].LinkedComponentValues.Count > 0)
    {
        if (fields["banner"].LinkedComponentValues[0].Fields.ContainsKey("imageTextCollection"))
        {
            images = fields["banner"].LinkedComponentValues[0].Fields["imageTextCollection"].EmbeddedValues;
        }
    }
}
<div class="inline-carousel large carousel slide product base">
	<div class="carousel-inner">

        @if (images.Count > 0)
        {
            foreach (var imageText in images)
            {
                if (imageText.ContainsKey("image"))
                {		            
                    <div class="new-panel item">
                        @Html.Image(@imageText["image"], new { itemprop = "image" })
				        <ul class="actions">
							<li>@{Html.RenderPartial("~/Views/Scrapbook/AddScrapbookItemForm.cshtml", imageText["image"].LinkedComponentValues[0]);}</li>
				        </ul>
                    </div>           
                }
            }
        }

		</div>
	</div>

