<div class="component inspiration-isotope izotaup">
	<div class="row-fluid pods">
		<div class="span4 pod rounded crochet">
			<img src="../../img/isotope-placeholder.jpg" alt="" />
			<h3>Fingerless gloves</h3>
			<span class="author">by Anna Smith</span>
			<ul class="stars">
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title=""></a></li>
				<li><a href="" title=""></a></li>
			</ul>	
			<ul class="ratings">
				<li>Complexity - Beginner</li>
				<li>Crafting time - Quick</li>
				<li>Technique - Crochet</li>
			</ul>
			<ul class="actions">
				<li><a href="" title="" class="icon scrapbook" title="Add to scrapbook"></a></li>
				<li><a href="" title="" class="icon comments" title="View comments">8</a></li>
				<li><a href="" title="" class="icon pinterest" title="Pin it"></a></li>
			</ul>
		</div>
		<div class="span4 pod rounded knitting">
			<img src="../../img/rope-girl.jpg" alt="" />
			<span class="type">Project</span>
			<h3>Fingerless gloves</h3>
			<span class="author">by Anna Smith</span>
			<ul class="stars">
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title=""></a></li>
				<li><a href="" title=""></a></li>
			</ul>
			<ul class="actions">
				<li><a href="" title="" class="icon scrapbook" title="Add to scrapbook"></a></li>
				<li><a href="" title="" class="icon comments" title="View comments">8</a></li>
				<li><a href="" title="" class="icon pinterest" title="Pin it"></a></li>
			</ul>
		</div>
		<div class="span4 pod rounded crochet">
			<img src="../../img/isotope-placeholder.jpg" alt="" />
			<!-- <span class="cta"></span> -->
			<h3>Fingerless gloves</h3>
			<span class="author">by Anna Smith</span>
			<ul class="stars">
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title=""></a></li>
				<li><a href="" title=""></a></li>
			</ul>
			<ul class="ratings">
				<li>Complexity - Beginner</li>
				<li>Crafting time - Quick</li>
				<li>Technique - Crochet</li>
			</ul>
			<ul class="actions">
				<li><a href="" title="" class="icon scrapbook" title="Add to scrapbook"></a></li>
				<li><a href="" title="" class="icon comments" title="View comments">8</a></li>
				<li><a href="" title="" class="icon pinterest" title="Pin it"></a></li>
			</ul>
		</div>
		<div class="span4 pod rounded embroidery">
			<img src="../../img/isotope-placeholder.jpg" alt="" />
			<span class="type">Project</span>
			<h3>Fingerless gloves</h3>
			<span class="author">by Anna Smith</span>
			<ul class="stars">
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title=""></a></li>
				<li><a href="" title=""></a></li>
			</ul>
			<ul class="actions">
				<li><a href="" title="" class="icon scrapbook" title="Add to scrapbook"></a></li>
				<li><a href="" title="" class="icon comments" title="View comments">8</a></li>
				<li><a href="" title="" class="icon pinterest" title="Pin it"></a></li>
			</ul>
		</div>
		<div class="span4 pod rounded">
			<img src="../../img/isotope-placeholder.jpg" alt="" />
			<h3>Fingerless gloves</h3>
			<span class="author">by Anna Smith</span>
			<ul class="stars">
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title=""></a></li>
				<li><a href="" title=""></a></li>
			</ul>
			<ul class="ratings">
				<li>Complexity - Beginner</li>
				<li>Crafting time - Quick</li>
				<li>Technique - Crochet</li>
			</ul>
			<ul class="actions">
				<li><a href="" title="" class="icon scrapbook" title="Add to scrapbook"></a></li>
				<li><a href="" title="" class="icon comments" title="View comments">8</a></li>
				<li><a href="" title="" class="icon pinterest" title="Pin it"></a></li>
			</ul>
		</div>
        <div class="span4 pod rounded">
			<img src="../../img/rope-girl.jpg" alt="" />
			<h3>Fingerless gloves</h3>
			<span class="author">by Anna Smith</span>
			<ul class="stars">
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title="" class="selected"></a></li>
				<li><a href="" title=""></a></li>
				<li><a href="" title=""></a></li>
			</ul>
			<ul class="ratings">
				<li>Complexity - Beginner</li>
				<li>Crafting time - Quick</li>
				<li>Technique - Crochet</li>
			</ul>
			<ul class="actions">
				<li><a href="" title="" class="icon scrapbook" title="Add to scrapbook"></a></li>
				<li><a href="" title="" class="icon comments" title="View comments">8</a></li>
				<li><a href="" title="" class="icon pinterest" title="Pin it"></a></li>
			</ul>
		</div>

	</div>
</div><!-- /.inspiration-isotope -->