@{
    Layout = null;
}
<div id="navbar" class="visible-desktop">
	<div class="row-fluid">
        <ul id="main-nav">
        @foreach (SiteMapNode node in SiteMap.RootNode.ChildNodes)
            {
                int depth;
                // Try and get depth ...
                if (!Int32.TryParse(node["depth"], out depth))
                {
                    continue;
                }

                // Check depth ...
                if (depth != 1)
                {
                    continue;
                }
                else
                {
                    string debug = "1";
                }

                // Top navs should be the only ones with the number prefix "dd XXXXX"
                if (!Regex.IsMatch(node["tridion_title"], @"^\d{2}[\s|_|-]?[\w|\s]+"))
                {
                    continue;
                }

                string classname = String.Empty;
                if (SiteMap.CurrentNode != null)
                {
                    if (SiteMap.CurrentNode.IsDescendantOf(node) || node == SiteMap.CurrentNode)
                    {
                        classname = "current";
                    }
                }
            <li><a title="" class="@classname" href="@Url.Content(node.Url)">@node.Title</a></li>      
        }
        </ul>
	</div>
</div><!-- /#navbar -->




