@using DD4T.ContentModel;

@model IComponentPresentation
           
@{
    Layout = null;
    var itemid = @Model.Component.Id;

    var fields = Model.Component.Fields;

    //var key = fields["brand"].LinkedComponentValues[0].Fields["brand"].Keywords[0];

    //string description = fields["description"].Value;
    
    string test = "";

    MvcHtmlString logo = MvcHtmlString.Empty;
    
    //if (key.MetadataFields.Count > 0)
    //{
    //    if (key.MetadataFields.ContainsKey("logo"))
    //    {
    //        logo = Html.Image(key.MetadataFields["logo"], new { @class = "logo" });
    //    }
    //}

}

<section class="component product-summary">
	<div class="row-fluid">
		<div class="span6 text-center">
            @logo
			<!--<img src="../../img/branding-rowan.png" class="logo" />-->
		</div>
		<div class="span6">
     @*       @description.ResolveRichText()*@
		</div>
	</div>
</section>