@using DD4T.ContentModel;
@using DD4T.Mvc.Html;

@model IComponentPresentation
           
@{
    Layout = null;
    var itemid = @Model.Component.Id;
}

<section class="component three-col-feature faqs">
    <div class="row-fluid">
        <div class="span12">
            <h1 class="header-rule">Frequently Asked Questions</h1>
            <p><a href="#" title="">View all FAQs</a></p>
        </div>
    </div>
    <div class="row-fluid">
		<article class="pod span4">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/500/300" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<span class="type">FAQ</span>
					<h1><a href="" title="">Fingerless gloves</a></h1>
					<ul class="stars">
						<li><a href="" title="" class="selected"></a></li>
						<li><a href="" title="" class="selected"></a></li>
						<li><a href="" title="" class="selected"></a></li>
						<li><a href="" title="" class="selected"></a></li>
						<li><a href="" title=""></a></li>
					</ul>
				</div>
				<div class="body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat Duis aute irure dolor in reprehenderit in voluptate velit esse...</p>
					<p><a href="" title="">Read full answer</a></p>
				</div>
				<div class="base">
					<ul class="actions">
						<li><a href="" title="" class="icon scrapbook" title="Add to scrapbook"></a></li>
						<li><a href="" title="" class="icon comments" title="View comments">8</a></li>
						<li><a href="" title="" class="icon pinterest" title="Pin it"></a></li>
					</ul>
				</div>
			</div>
		</article>
		<article class="pod span4">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/500/300" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<span class="type">FAQ</span>
					<h1><a href="" title="">Fingerless gloves</a></h1>
					<ul class="stars">
						<li><a href="" title="" class="selected"></a></li>
						<li><a href="" title="" class="selected"></a></li>
						<li><a href="" title="" class="selected"></a></li>
						<li><a href="" title=""></a></li>
						<li><a href="" title=""></a></li>
					</ul>
				</div>
				<div class="body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat Duis aute irure dolor in reprehenderit in voluptate velit esse...</p>
					<p><a href="" title="">Read full answer</a></p>
				</div>
				<div class="base">
					<ul class="actions">
						<li><a href="" title="" class="icon scrapbook" title="Add to scrapbook"></a></li>
						<li><a href="" title="" class="icon comments" title="View comments">8</a></li>
						<li><a href="" title="" class="icon pinterest" title="Pin it"></a></li>
					</ul>
				</div>
			</div>
		</article>
		<article class="pod span4">
			<div class="image">
				<a href="" title=""><img src="http://placekitten.com/500/300" alt="" /></a>
			</div>
			<div class="content">
				<div class="head">
					<span class="type">FAQ</span>
					<h1><a href="" title="">Fingerless gloves</a></h1>
					<ul class="stars">
						<li><a href="" title="" class="selected"></a></li>
						<li><a href="" title="" class="selected"></a></li>
						<li><a href="" title="" class="selected"></a></li>
						<li><a href="" title="" class="selected"></a></li>
						<li><a href="" title=""></a></li>
					</ul>
				</div>
				<div class="body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat Duis aute irure dolor in reprehenderit in voluptate velit esse...</p>
					<p><a href="" title="">Read full answer</a></p>
				</div>
				<div class="base">
					<ul class="actions">
						<li><a href="" title="" class="icon scrapbook" title="Add to scrapbook"></a></li>
						<li><a href="" title="" class="icon comments" title="View comments">8</a></li>
						<li><a href="" title="" class="icon pinterest" title="Pin it"></a></li>
					</ul>
				</div>
			</div>
		</article>
    </div>
</section> 

