<div class="component three-col-feature">ThreeColWithHeading
    <div class="row-fluid">
        <div class="span12">
            <h1 class="header-rule">The creative journey</h1>
            <p><a href="#">Explore the creative journey</a></p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4 pod rounded">
            <img src="../../img/isotope-placeholder.jpg" alt="" />
            <h3>Fingerless gloves</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="span4 pod rounded">
            <img src="../../img/isotope-placeholder.jpg" alt="" />
            <h3>Fingerless gloves</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="span4 pod rounded">
            <img src="/img/rope-girl.jpg" alt="" />
            <h3>Fingerless gloves</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
    </div>
</div> 