<div class="component two-col-feature">TwoColWithHeading
    <div class="row-fluid">
        <div class="span12">
            <h1 class="header-rule">Events near you</h1>
            <p><a href="#">View all events</a></p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 pod">
            <img src="/img/events.jpg" alt="" />
            <h3>Fingerless gloves</h3>
            <span class="date">11 / 08 / 2013</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco  consequat Duis aute irure dolor in reprehenderit in voluptate velit esse. . .</p>
            <p><a href="#" class="btn purple">Find out more</a></p>
        </div>
        <div class="span6 pod">
            <img src="/img/events2.jpg" alt="" />
            <h3>Fingerless gloves</h3>
            <span class="date">11 / 08 / 2013</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco  consequat Duis aute irure dolor in reprehenderit in voluptate velit esse. . .</p>
            <p><a href="#" class="btn purple">Find out more</a></p>
        </div>
    </div>
</div> 