@{
	
/*
* 
* UserFeedback.cshtml
* ----------
* Partial to output feedback messages to the user after they have performed an action. 
* Session based. Variables are nulled after being displayed.
* 
*/

}
@if (Session["feedback"] != null)
{
<div id="feedback">
	<a href="@Request.Url" title="Close message box">&times;</a>
	<p>@Session["feedback"].ToString()</p>
	@{
		// Clear down session variable now it has been displayed to the user
		Session.Remove("feedback");
	}
</div>
}