/*-----------------------------------------------

 
 * Description: 	Anchor Brand Theme Stylesheet
 * Version:			1.0
 * Website: 		http://coatscrafts.com
 * Author(s):		James Carroll


-----------------------------------------------*/

/* Links --------------------------------------*/

.anchor a,
.anchor a:hover {
    color: #E46F1D;
}

.anchor .actions li a {
    color: #E46F1D;
}

.anchor .actions li a:hover {
    color: #9F4D14;
    text-decoration: none;
}

/* Icons --------------------------------------*/

.anchor .icon {
    background-image: url('../img/icon-sprite-anchor.png') !important;
}

/* fix for CC-1624 */
.anchor .addthis_toolbox .icon{
    background-image: url('../img/icon-sprite.png') !important;
}

/* Pod flashes --------------------------------*/

.anchor .pod .image .flash {
    background: #E46F1D !important;
}

/* Three col feature --------------------------*/

.anchor .three-col-feature {
    background: #5A4A34;
    background: -moz-linear-gradient(top,  #5A4A34 0%, #766446 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5A4A34), color-stop(100%,#766446));
    background: -webkit-linear-gradient(top,  #5A4A34 0%,#766446 100%);
    background: -o-linear-gradient(top,  #5A4A34 0%,#766446 100%);
    background: -ms-linear-gradient(top,  #5A4A34 0%,#766446 100%);
    background: linear-gradient(to bottom,  #5A4A34 0%,#766446 100%);
}

.anchor .three-col-feature .ruled h1,
.anchor .three-col-feature .ruled a {
    color: #FFFFFF;
}

/* Related isotope features -------------------*/

.anchor .related-isotope {
    background: #5A4A34;
    background: -moz-linear-gradient(top,  #5A4A34 0%, #766446 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5A4A34), color-stop(100%,#766446));
    background: -webkit-linear-gradient(top,  #5A4A34 0%,#766446 100%);
    background: -o-linear-gradient(top,  #5A4A34 0%,#766446 100%);
    background: -ms-linear-gradient(top,  #5A4A34 0%,#766446 100%);
    background: linear-gradient(to bottom,  #5A4A34 0%,#766446 100%);
}

.anchor .related-isotope .ruled h1,
.anchor .related-isotope .ruled a {
    color: #FFFFFF;
}

/* Blog summary colours -----------------------*/

.anchor .blog-summary h1 {
    color: #E46F1D;
}

/* Reapply colours to buttons etc -------------*/

.btn:hover {
    color: #FFFFFF !important;
}
.btn.purple {
    background: #5f294f !important;
}
.btn.purple:hover {
    background: #421D37 !important;
}
.btn.brown {  
    background: #866761 !important;
    background: -moz-linear-gradient(top,  #866761 0%, #795e57 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#866761), color-stop(100%,#795e57)) !important;
    background: -webkit-linear-gradient(top,  #866761 0%,#795e57 100%) !important;
    background: -o-linear-gradient(top,  #866761 0%,#795e57 100%) !important;
    background: -ms-linear-gradient(top,  #866761 0%,#795e57 100%) !important;
    background: linear-gradient(to bottom,  #866761 0%,#795e57 100%) !important;
    background: #876661 !important;
	border-bottom: 1px solid #644847 !important;
}
.btn.brown:hover {
    background: #5E4844 !important;
}
.btn.pink {
    background: #C80093 !important;
}
.btn.pink:hover {
    background: #8C006D !important;
}
.btn.yellow {
    background: #FFCB4F !important;
    color: #5f294f !important;
}
.btn.yellow:hover {
    background: #B28E37 !important;
}

.crumbs a,
.crumbs a:hover {
    color: #666666 !important;
}

.facebook-activity a,
.facebook-activity a:hover {
    color: #3B5998 !important;
}

#sideshare .icon {
    background-image: url('../img/icon-sprite.png') !important;
}

#base .btn {
    background: #876661 !important;
}

#base .icon {
    background-image: url('../img/icon-sprite.png') !important;
}