/*-----------------------------------------------

 
 * Description: 	Rowan Brand Theme Stylesheet
 * Version:			1.0
 * Website: 		http://coatscrafts.com
 * Author(s):		James Carroll


-----------------------------------------------*/

/* Links --------------------------------------*/

.rowan a,
.rowan a:hover {
    color: #603526;
}

.rowan .actions li a {
    color: #603526;
}

.rowan .actions li a:hover {
    color: #43251B;
    text-decoration: none;
}

/* Icons --------------------------------------*/

.rowan .icon {
    background-image: url('../img/icon-sprite-rowan.png') !important;
}

/* Pod flashes --------------------------------*/

.rowan .pod .image .flash {
    background: #603526 !important;
}

/* Three col feature --------------------------*/

.rowan .three-col-feature {
    background: #d7d2c5;
    background: -moz-linear-gradient(top,  #d7d2c5 0%, #a7a089  100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d2c5), color-stop(100%,#a7a089 ));
    background: -webkit-linear-gradient(top,  #d7d2c5 0%,#a7a089  100%);
    background: -o-linear-gradient(top,  #d7d2c5 0%,#a7a089  100%);
    background: -ms-linear-gradient(top,  #d7d2c5 0%,#a7a089  100%);
    background: linear-gradient(to bottom,  #d7d2c5 0%,#a7a089  100%);
}

.rowan .three-col-feature .ruled h1,
.rowan .three-col-feature .ruled a {
    color: #FFFFFF;
}

/* Related isotope ----------------------------*/

.rowan .related-isotope {
    background: #d7d2c5;
    background: -moz-linear-gradient(top,  #d7d2c5 0%, #a7a089  100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a89574), color-stop(100%,#a7a089 ));
    background: -webkit-linear-gradient(top,  #d7d2c5 0%,#a7a089  100%);
    background: -o-linear-gradient(top,  #d7d2c5 0%,#a7a089  100%);
    background: -ms-linear-gradient(top,  #d7d2c5 0%,#a7a089  100%);
    background: linear-gradient(to bottom,  #d7d2c5 0%,#a7a089  100%);
}

.rowan .related-isotope .ruled h1,
.rowan .related-isotope .ruled a {
    color: #FFFFFF;
}

/* Blog summary colours -----------------------*/

.rowan .blog-summary h1 {
    color: #603526;
}

/* Reapply colours to buttons etc -------------*/

.btn:hover {
    color: #FFFFFF !important;
}
.btn.purple {
    background: #5f294f !important;
}
.btn.purple:hover {
    background: #421D37 !important;
}
.btn.brown {  
    background: #866761 !important;
    background: -moz-linear-gradient(top,  #866761 0%, #795e57 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#866761), color-stop(100%,#795e57)) !important;
    background: -webkit-linear-gradient(top,  #866761 0%,#795e57 100%) !important;
    background: -o-linear-gradient(top,  #866761 0%,#795e57 100%) !important;
    background: -ms-linear-gradient(top,  #866761 0%,#795e57 100%) !important;
    background: linear-gradient(to bottom,  #866761 0%,#795e57 100%) !important;
    background: #876661 !important;
	border-bottom: 1px solid #644847 !important;
}
.btn.brown:hover {
    background: #5E4844 !important;
}
.btn.pink {
    background: #C80093 !important;
}
.btn.pink:hover {
    background: #8C006D !important;
}
.btn.yellow {
    background: #FFCB4F !important;
    color: #5f294f !important;
}
.btn.yellow:hover {
    background: #B28E37 !important;
}

.crumbs a,
.crumbs a:hover {
    color: #666666 !important;
}

.facebook-activity a,
.facebook-activity a:hover {
    color: #3B5998 !important;
}

#sideshare .icon {
    background-image: url('../img/icon-sprite.png') !important;
}

#base .btn {
    background: #876661 !important;
}

#base .icon {
    background-image: url('../img/icon-sprite.png') !important;
}