<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="CacheSettings_CallBackInterval" value="2" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="DD4T.CacheSettings.Page" value="3" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="DD4T.CacheSettings.Component" value="3" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="DD4T.CacheSettings.System" value="3" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="RemoteImagePath" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="SiteUrl" value="http://coatscrafts-dev" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
  </appSettings>

  <system.webServer>
    <handlers>
      <add name="Redirector" verb="GET" path="*" type="Coats.Crafts.Redirector.CoatsGeoIPRedirection" xdt:Transform="Insert" />
    </handlers>
    <modules>
      <remove name="UrlRoutingModule-4.0" xdt:Transform="Insert" />
    </modules>
    <rewrite>
      <rules>
        <rule name="VanityUrls" xdt:Locator="Match(name)" xdt:Transform="Replace">
          <match url="(\w{2}-\w{2})/(.*)" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="vanity_url=1" negate="true" />
            <add input="{CoatsCraftsRedirects:{R:2}}" pattern="(.+)" />
            <add input="##{C:1}" pattern="##([^\?]+)\??(.+)?$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="{R:1}/{C:1}?vanity_url=1&amp;{C:2}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>    
  </system.webServer>

  <SocialMediaLinkSection xdt:Transform="Replace">
    <add name="Pinterest" href="http://www.pinterest.com/coatsandclark/" title="" class="pinterest-light" />
    <add name="Facebook" href="https://www.facebook.com/pages/Coats-Crafts-UK/335056417389" title="" class="facebook-light" />
  </SocialMediaLinkSection>

</configuration>