<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="CacheSettings_CallBackInterval" value="120" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="DD4T.CacheSettings.Page" value="86400" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="DD4T.CacheSettings.Component" value="86400" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="DD4T.CacheSettings.System" value="86400" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="RemoteImagePath" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="SiteUrl" value="http://mic-test.amaze.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="~/error" mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/page-not-found"/>
    </customErrors>
    <caching xdt:Transform="Replace">
      <outputCacheSettings>
        <outputCacheProfiles>
          <!-- Only Duration, VaryByCustom, and VaryByParam values are supported by default. -->
          <!-- If using FredHopperOutputCache, then Enabled is also supported.               -->
          <add name="FacetedContent" duration="600" varyByCustom="facet" enabled="false" />
          <add name="Homepage" duration="300" enabled="true" />
          <add name="FeaturedItems" duration="300" varyByCustom="facet" enabled="true" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>    
  </system.web>

  <system.webServer>
    <handlers>
      <add name="Redirector" verb="GET" path="*" type="Coats.Crafts.Redirector.CoatsGeoIPRedirection" xdt:Transform="Insert" />
    </handlers>
    <modules>
      <remove name="UrlRoutingModule-4.0" xdt:Transform="Insert" />
    </modules>
    <rewrite>
      <rules>
        <rule name="VanityUrls" xdt:Locator="Match(name)" xdt:Transform="Replace">
          <match url="(\w{2}-\w{2})/(.*)" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="vanity_url=1" negate="true" />
            <add input="{CoatsCraftsRedirects:{R:2}}" pattern="(.+)" />
            <add input="##{C:1}" pattern="##([^\?]+)\??(.+)?$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="{R:1}/{C:1}?vanity_url=1&amp;{C:2}" redirectType="Permanent" />
        </rule>        
        <rule name="Anchor Level 1 Brand" stopProcessing="true" xdt:Locator="Match(name)">
          <serverVariables xdt:Transform="Replace">
            <!-- values as <CATEGORY>|<FACET>|<BRAND COMPONENT (the {} is not supported for some reason)> -->
            <set name="HTTP_X_BRAND_FILTER" value="78_brands|anchor|19190|Anchor" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>    
  </system.webServer>


  <HomePageTabsSection xdt:Transform="Replace">
    <!-- No need to specify the complete list anymore. You just need to select the highest level you want in the dataFilter e.g.: -->
    <!-- <add key="techniques__dir__crochet" dataFilter=".techniques__dir__crochet,.cta" displayOrder="3" />                      -->
    <!-- - will give you all Crochet items downwards. However, if you want to be more targetted, you could specify:               -->
    <!-- <add key="techniques__dir__crochet" dataFilter=".techniques__dir__crochet__dir__granny_sqaures,.cta" displayOrder="3" /> -->
    <!-- - will give you all Crochet Granny Squares items downwards.                                                              -->
    <!--
    <add key="techniques__dir__sewing___quilting" dataFilter=".sewing_quilting,.applique_se,.decorative_machine_stitching,.fabric_crafts_se,.free_motion,.garment_sewing_se,.gathered_stitch,.heirloom_sewing_se,.home_decor_se,.machine_embroidery_se,.machine_hem_se,.patchwork,.piecing,.quilting,.quilting_quickly,.running_stitch_se,.satin_stitch,.sewing_se,.shell_stitch,.smocking_se,.straight_stitch,.zigzag_stitch_se,.zip_art,.zipper_installation,.cta" displayOrder="1" />
		<add key="techniques__dir__knitting" dataFilter=".knitting,knitting circular_knitting_kt,.fisherman_knits_kt,.garter_stitch,.hand_knit_yarn_kt,.hand_knitting_kt,.intarsia_kt,.knit_felting_kt,.knitting_kt,.knitting_dolly_kt,.lace_knitting_kt,.lace_stitch_kt,.purl_stitch_kt,.rib_stitch_kt,.sock_knitting_kt,.sockinette_stitch_kt,.stocking_stitch,.knitting-patchwork_kt,.cta" displayOrder="2" />
		<add key="techniques__dir__crochet" dataFilter=".crochet,.broomstick_lace_cr,.crochet_mixed_techniques_cr,.filet_cr,.granny_squares_cr,.lace_crochet,.open_work_crochet_cr,.picot_edging_cr,.ripple_stitch_cr,.treble_stitch,.crochet__embroidery_cr,fork_crochet__hairpin_lace_cr,.tunesian_crochet__afghan_stitch_cr,.crochet__embroidery_cr,.crochet__knitting_cr,.crochet-patchwork_cr,.cta" displayOrder="3" />
		<add key="techniques__dir__embroidery" dataFilter=".embroidery,.ajour_em,.blackwork_em,.canvas_work_em,.counted_cross_stitch_em,.cross_stitch_em,.cutwork_em,.dawn_thread_embroidery_em,.embroidery_em,.florentine,.freestyle_embroidery_em,.half_cross_em,.hardanger,.huckabuck_weave_em,.long_stitch_em,.mixed_stitches_em,.myreschka_em,.needlepoint_em,.openwork_em,.ribbon_embroidery_em,.richelieu_em,.shadow_work_em,.single_cross_stitch, .white_embroidery_em,.needlepainting_for_us_em,.tapestry_for_uk,.cta" displayOrder="4" />
    -->
    <add key="72_techniques__dir__sewing___quilting" dataFilter=".72_techniques__dir__sewing___quilting,.cta" tabText="Sewing &amp; Quilting" displayOrder="1" />
    <add key="72_techniques__dir__knitting" dataFilter=".72_techniques__dir__knitting,.cta" tabText="Knitting" displayOrder="2" />
    <add key="72_techniques__dir__crochet" dataFilter=".72_techniques__dir__crochet,.cta" tabText="Crochet" displayOrder="3" />
    <add key="72_techniques__dir__embroidery" dataFilter=".72_techniques__dir__embroidery,.cta" tabText="Embroidery" displayOrder="4" />
  </HomePageTabsSection>

  <SocialMediaLinkSection xdt:Transform="Replace">
    <add name="Pinterest" href="http://www.pinterest.com/coatsandclark/" title="" class="pinterest-light" />
    <add name="Facebook" href="https://www.facebook.com/pages/Coats-Crafts-UK/335056417389" title="" class="facebook-light" />
  </SocialMediaLinkSection>
  
</configuration>