<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="Coats.Crafts.addThisPinterest" type="System.Configuration.IgnoreSectionHandler" allowLocation="false"/>
    <section name="Coats.Crafts.addThisSideBar" type="System.Configuration.IgnoreSectionHandler" allowLocation="false"/>
    <section name="Coats.Crafts.addThisMenu" type="System.Configuration.IgnoreSectionHandler" allowLocation="false"/>
  </configSections>
  <Coats.Crafts.addThisSideBar>
    <![CDATA[
<div id="sideshare">
<div class="addthis_toolbox">
<a class="addthis_button_facebook"><span class="icon facebook"></span></a>
<a class="addthis_button_pinterest_share"><span class="icon pinterest"></span></a>
<a title="Twitter" class="addthis_button_twitter"><span class="icon twitter"></span></a>
<a title="Share" class="addthis_button_expanded"><span class="icon share"></span></a>
</div>
</div>
]]>
  </Coats.Crafts.addThisSideBar>
  <Coats.Crafts.addThisMenu>
    <![CDATA[ 
<div class="addthis_toolbox">
  <a class="addthis_button_facebook"><span class="icon facebook-light"></span></a>
  <a class="addthis_button_pinterest_share"><span class="icon pinterest-light"></span></a>
  <a title="Twitter" class="addthis_button_twitter"><span class="icon twitter-light"></span></a>
  <a class="addthis_button_expanded"><span class="icon share-light"></span></a>
</div>
]]>
  </Coats.Crafts.addThisMenu>
  <appSettings>
    <add key="RegisterWelcome" value="http://qa.makeitcoats.com/en-gb/registration/welcome"/>
    <add key="RegisterThankYou" value="http://qa.makeitcoats.com/en-gb/registration/thankyou"/>
    <add key="PrivacyPolishPath" value="http://qa.makeitcoats.com/en-gb/privacy-and-cookie-policy"/>
    <add key="DD4T.PublicationId" value="71"/>
    <add key="AddressBookId" value="160"/>
    <add key="Culture" value="en-GB"/>
    <add key="StoreLocatorLongitude" value=" -0.11982439999997041"/>
    <add key="StoreLocatorLatitude" value="51.5112138999999"/>
    <add key="OurBrandsOpenInNewTab" value="redheart;Red Heart;Rowan Yarns;Schachenmayr"/>
    <add key="PublicasterMakeItCoatsListId" value="12"/>
    <add key="PublicasterRowanListId" value="9"/>
    <add key="PublicasterRedHeartListId" value="77"/>
    <add key="PublicasterSewingListId" value="3"/>
    <add key="PublicasterFreespirtListId" value="6"/>
    <add key="PublicasterSchachenmayrListId" value="8"/>
    <add key="Countries" value="United Kingdom,United States,Germany,Canada,France,Spain,China"/>
    <add key="UpdateNewsletter" value="/en-gb/profile"/>
  </appSettings>
  <system.webServer>
    <modules>
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule"/>
    </modules>
    <handlers>
      <remove name="Redirector"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Anchor Level 1 Brand" stopProcessing="true">
          <match url="^anchor"/>
          <serverVariables>
            <set name="HTTP_X_BRAND_FILTER" value="71_brands|anchor|43065|Anchor"/>
          </serverVariables>
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^GET$"/>
          </conditions>
          <action type="Rewrite" url="explore/our-brands/anchor" appendQueryString="true"/>
        </rule>
        <rule name="Rowan Fabrics Level 1 Brand" stopProcessing="true">
          <match url="^rowan-fabric"/>
          <serverVariables>
            <set name="HTTP_X_BRAND_FILTER" value="71_brands|rowan_fabric|27653|Rowan"/>
          </serverVariables>
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^GET$"/>
          </conditions>
          <action type="Rewrite" url="explore/our-brands/rowan-fabric" appendQueryString="true"/>
        </rule>
        <rule name="Freespirit Level 1 Brand" stopProcessing="true">
          <match url="^freespirit-fabric"/>
          <serverVariables>
            <set name="HTTP_X_BRAND_FILTER" value="71_brands|freespirit_fabric|42786|Freespirit"/>
          </serverVariables>
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^GET$"/>
          </conditions>
          <action type="Rewrite" url="explore/our-brands/freespirit-fabric" appendQueryString="true"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <HomePageTabsSection>
    <!-- No need to specify the complete list anymore. You just need to select the highest level you want in the dataFilter e.g.: -->
    <!-- <add key="techniques__dir__crochet" dataFilter=".techniques__dir__crochet,.cta" displayOrder="3" />                      -->
    <!-- - will give you all Crochet items downwards. However, if you want to be more targetted, you could specify:               -->
    <!-- <add key="techniques__dir__crochet" dataFilter=".techniques__dir__crochet__dir__granny_sqaures,.cta" displayOrder="3" /> -->
    <!-- - will give you all Crochet Granny Squares items downwards.                                                              -->
    <!--
    <add key="techniques__dir__sewing___quilting" dataFilter=".sewing_quilting,.applique_se,.decorative_machine_stitching,.fabric_crafts_se,.free_motion,.garment_sewing_se,.gathered_stitch,.heirloom_sewing_se,.home_decor_se,.machine_embroidery_se,.machine_hem_se,.patchwork,.piecing,.quilting,.quilting_quickly,.running_stitch_se,.satin_stitch,.sewing_se,.shell_stitch,.smocking_se,.straight_stitch,.zigzag_stitch_se,.zip_art,.zipper_installation,.cta" displayOrder="1" />
    <add key="techniques__dir__knitting" dataFilter=".knitting,knitting circular_knitting_kt,.fisherman_knits_kt,.garter_stitch,.hand_knit_yarn_kt,.hand_knitting_kt,.intarsia_kt,.knit_felting_kt,.knitting_kt,.knitting_dolly_kt,.lace_knitting_kt,.lace_stitch_kt,.purl_stitch_kt,.rib_stitch_kt,.sock_knitting_kt,.sockinette_stitch_kt,.stocking_stitch,.knitting-patchwork_kt,.cta" displayOrder="2" />
    <add key="techniques__dir__crochet" dataFilter=".crochet,.broomstick_lace_cr,.crochet_mixed_techniques_cr,.filet_cr,.granny_squares_cr,.lace_crochet,.open_work_crochet_cr,.picot_edging_cr,.ripple_stitch_cr,.treble_stitch,.crochet__embroidery_cr,fork_crochet__hairpin_lace_cr,.tunesian_crochet__afghan_stitch_cr,.crochet__embroidery_cr,.crochet__knitting_cr,.crochet-patchwork_cr,.cta" displayOrder="3" />
    <add key="techniques__dir__embroidery" dataFilter=".embroidery,.ajour_em,.blackwork_em,.canvas_work_em,.counted_cross_stitch_em,.cross_stitch_em,.cutwork_em,.dawn_thread_embroidery_em,.embroidery_em,.florentine,.freestyle_embroidery_em,.half_cross_em,.hardanger,.huckabuck_weave_em,.long_stitch_em,.mixed_stitches_em,.myreschka_em,.needlepoint_em,.openwork_em,.ribbon_embroidery_em,.richelieu_em,.shadow_work_em,.single_cross_stitch, .white_embroidery_em,.needlepainting_for_us_em,.tapestry_for_uk,.cta" displayOrder="4" />
    -->
    <clear/>
    <add key="71_techniques__dir__sewing___quilting" dataFilter=".71_techniques__dir__sewing___quilting,.cta" tabText="Sewing &amp; Quilting" displayOrder="1"/>
    <add key="71_techniques__dir__knitting" dataFilter=".71_techniques__dir__knitting,.cta" tabText="Knitting" displayOrder="2"/>
    <add key="71_techniques__dir__crochet" dataFilter=".71_techniques__dir__crochet,.cta" tabText="Crochet" displayOrder="3"/>
    <add key="71_techniques__dir__embroidery" dataFilter=".71_techniques__dir__embroidery,.cta" tabText="Embroidery" displayOrder="4"/>
  </HomePageTabsSection>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>