<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="amazeFramework" type="Amaze.Net4.Framework.Core.Configuration.Amaze, Amaze.Net4.Framework.Core"/>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    <section name="CountryConfigSection" type="Coats.Crafts.Configuration.CountryConfigSection"/>
    <section name="CtaTemplateIdSection" type="Coats.Crafts.Configuration.CtaTemplateIdSection"/>
    <section name="HomePageTabsSection" type="Coats.Crafts.Configuration.HomePageTabsSection"/>
    <section name="SocialMediaLinkSection" type="Coats.Crafts.Configuration.SocialMediaLinkSection"/>
    <!-- REMOVE ONCE FINISHED TESTING -->
    <section name="Coats.Crafts.SmartTartget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="Coats.Crafts.addThisSideBar" type="System.Configuration.IgnoreSectionHandler" allowLocation="false"/>
    <section name="Coats.Crafts.addThisMenu" type="System.Configuration.IgnoreSectionHandler" allowLocation="false"/>
    <section name="FredHopperExtendedProperties" type="System.Configuration.DictionarySectionHandler" allowLocation="false"/>
    <section name="CountryUrls" type="System.Configuration.DictionarySectionHandler"/>
    <section name="FileChecks" type="System.Configuration.NameValueSectionHandler"/>
    <section name="SchemaTemplate" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <connectionStrings>
    <!-- Live DB only accessible over VPN -->
    <add name="CatsDb" connectionString="Server=172.16.0.33;Database=cats;User ID=WComm;Password=Corrente01;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    <add name="CatsRegisterDb" connectionString="server=172.18.5.145;database=Coats_Crafts;uid=CoatsCrafts;password=eAmazed11!;"/>
  </connectionStrings>
  <amazeFramework>
    <serviceProviders>
      <add classInterface="ICache" assemblyName="Amaze.Net4.Framework.Core" typeName="Amaze.Net4.Framework.Core.Caching.NoCache"/>
    </serviceProviders>
  </amazeFramework>
  <castle>
    <components>
      <component id="ICommentRepository" service="Coats.Crafts.Repositories.Interfaces.ICommentRepository, Coats.Crafts" lifestyle="singleton" type="Coats.Crafts.Repositories.Tridion.CommentRepository, Coats.Crafts"/>
      <component id="IStoreLocatorRepository" service="Coats.Crafts.Repositories.Interfaces.IStoreLocatorRepository, Coats.Crafts" lifestyle="singleton" type="Coats.Crafts.Repositories.Tridion.StoreLocatorRepository, Coats.Crafts"/>
      <component id="IComponentProvider" lifestyle="singleton" service="DD4T.ContentModel.Contracts.Providers.IComponentProvider, DD4T.ContentModel.Contracts" type="DD4T.Providers.WCFServices.TridionComponentProvider, DD4T.Providers.WCFServices"/>
      <component id="IKewordRepository" service="Coats.Crafts.Repositories.Interfaces.IKeywordRepository, Coats.Crafts" lifestyle="singleton" type="Coats.Crafts.Repositories.Tridion.KeywordRepository, Coats.Crafts"/>
      <component id="IShoppingListRepository" service="Coats.Crafts.Repositories.Interfaces.IShoppingListRepository, Coats.Crafts" lifestyle="singleton" type="Coats.Crafts.Repositories.Tridion.ShoppingListRepository, Coats.Crafts"/>
      <component id="IScrapbookRepository" service="Coats.Crafts.Repositories.Interfaces.IScrapbookRepository, Coats.Crafts" lifestyle="singleton" type="Coats.Crafts.Repositories.Tridion.ScrapbookRepository, Coats.Crafts"/>
      <component id="IEventsRepository" service="Coats.Crafts.Repositories.Interfaces.IEventsRepository, Coats.Crafts" lifestyle="singleton" type="Coats.Crafts.Repositories.Tridion.EventsRepository, Coats.Crafts"/>
      <component id="IRegistrationRepository" service="Coats.Crafts.Repositories.Interfaces.IRegistrationRepository, Coats.Crafts" lifestyle="singleton" type="Coats.Crafts.Repositories.Tridion.RegistrationRepository, Coats.Crafts"/>
      <component id="ICatsRepository" service="Coats.Crafts.Repositories.Interfaces.ICatsRepository, Coats.Crafts" lifestyle="singleton" type="Coats.Crafts.Repositories.Tridion.CatsRepository, Coats.Crafts"/>
      <!--<component id="INewsLetterRepository" service="Coats.Crafts.Repositories.Interfaces.INewsLetterRepository, Coats.Crafts" lifestyle="singleton" type="Coats.Crafts.Repositories.Tridion.NewsLetterRepository, Coats.Crafts" />-->
    </components>
  </castle>
  <!-- REMOVE ONCE FINISHED TESTING -->
  <Coats.Crafts.SmartTartget.Properties.Settings>
    <setting name="FASXmlTransformXsltPath" serializeAs="String">
      <value>C:/Projects/Coats/Code/Coats.Crafts/Coats.Crafts.SmartTartget/XSLT/FAS.xslt</value>
      <!--<value>C:/Projects/FredHopperPOC/Transform/FAS.xslt</value>-->
    </setting>
  </Coats.Crafts.SmartTartget.Properties.Settings>
  <Coats.Crafts.addThisSideBar>
    <![CDATA[
    <div id="sideshare">
      <div class="addthis_toolbox">
        <a class="addthis_button_facebook"><span class="icon facebook"></span></a>
        <a class="addthis_button_pinterest_share"><span class="icon pinterest"></span></a>
        <a title="Twitter" class="addthis_button_twitter"><span class="icon twitter"></span></a>
        <a class="addthis_counter addthis_bubble_style"></a>
        <a class="addthis_button_expanded" title="Share"><span class="icon share"></span></a>
      </div>
    </div>
    ]]>
  </Coats.Crafts.addThisSideBar>
  <Coats.Crafts.addThisMenu>
    <![CDATA[ 
    <div class="addthis_toolbox">
      <a class="addthis_button_facebook"><span class="icon facebook-light"></span></a>
      <a class="addthis_button_pinterest_share"><span class="icon pinterest-light"></span></a>
      <a title="Twitter" class="addthis_button_twitter"><span class="icon twitter-light"></span></a>
      <a class="addthis_counter addthis_bubble_style"></a>
      <a class="addthis_button_expanded"><span class="icon share-light"></span></a>
    </div>
    ]]>
  </Coats.Crafts.addThisMenu>
  <appSettings>
    <add key="MyProfile" value="~/profile"/>
    <add key="domain" value="http://coats.crafts.dev"/>
    <add key="ReleaseVersion" value="1.0.1800"/>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- DD4T -->
    <add key="DD4T.LoggerClass" value="Coats.Crafts.Logging.Log4NetLogger, Coats.Crafts"/>
    <add key="DD4T.ComponentPresentationController" value="TridionComponent"/>
    <add key="DD4T.ComponentPresentationAction" value="Component"/>
    <add key="DD4T.DefaultPage" value="index.html"/>
    <add key="DD4T.PublicationId" value="72"/>
    <add key="DD4T.ResourcePath" value="/{0}"/>
    <add key="DD4T.ResourceName" value="labels/resources.resx"/>
    <add key="DD4T.SitemapPath" value="/web.sitemap"/>
    <!-- DD4T cache setting (all in seconds) -->
    <!-- The Change monitor timer will expire ecery X seconds, triggering a re-check of the last published data -->
    <!-- CallBackInterval changed to 30 for development.  Normally 600 for production. -->
    <add key="CacheSettings_CallBackInterval" value="600"/>
    <!-- Commented out component and page cache settings as CallBackInterval should do the job fine -->
    <!-- Page Xml stored for X seconds  -->
    <add key="DD4T.CacheSettings.Page" value="86400"/>
    <!-- Component Xml store for X seconds  -->
    <add key="DD4T.CacheSettings.Component" value="86400"/>
    <!-- System Xml, (like resources) stored for X seconds  -->
    <add key="DD4T.CacheSettings.System" value="86400"/>
    <add key="RouteDebugger:Enabled" value="false"/>
    <add key="ODataEndPoint.URL" value="http://tridion.ugc.visitors.service/odata.svc"/>
    <add key="ODataEndPoint.ConnectionTimeout" value="20000"/>
    <add key="ODataEndPoint.ReadTimeout" value="20000"/>
    <add key="ODataEndPoint.Security.Endpoint" value="http://tridion.ugc.visitors.service/access_token.svc"/>
    <add key="ODataEndPoint.Security.ClientId" value="ugcauthuser"/>
    <add key="ODataEndPoint.Security.ClientSecret" value="$CoatsMTS03!"/>
    <add key="ModeratorODataEndPoint.URL" value="http://tridion.ugc.moderators.service/odata.svc"/>
    <add key="ModeratorODataEndPoint.ConnectionTimeout" value="20000"/>
    <add key="ModeratorODataEndPoint.ReadTimeout" value="20000"/>
    <add key="ModeratorODataEndPoint.Security.Endpoint" value="http://tridion.ugc.moderators.service/access_token.svc"/>
    <add key="ModeratorODataEndPoint.Security.ClientId" value="ugcauthuser"/>
    <add key="ModeratorODataEndPoint.Security.ClientSecret" value="$CoatsMTS03!"/>
    <add key="App404Path" value="page-not-found/index.html"/>
    <add key="AppErrorPath" value="error/index.html"/>
    <add key="DefaultCommentListing" value="2"/>
    <add key="CommentModeration" value="ON"/>
    <add key="SiteIdentifier" value="MIC"/>
    <add key="AddressBookId" value="159"/>
    <add key="CraftListCategory" value="tcm:{0}-4468-512"/>
    <add key="CraftAccountStatus" value="tcm:70-1992-1024"/>
    <!-- Account status: Enabled keyword -->
    <add key="EmailNewsletterListCategory" value="tcm:{0}-4258-512"/>
    <add key="ProfileVisibleListCategory" value="tcm:{0}-4006-512"/>
    <add key="FooterLinksComponents" value="tcm:{0}-122786"/>
    <add key="ProductGroups" value="tcm:{0}-4029-512"/>
    <!-- Product Groups Category -->
    <!-- Store locator -->
    <add key="GoogleMapsAPIKey" value="AIzaSyDV5bi5eHkZfrsgUaQOxtxuElCgdecGvW8"/>
    <add key="StoreLocatorUseMilesForDistanceUnit" value="true"/>
    <add key="StoreLocatorDistanceValues" value="5|10|20|30|50|100"/>
    <add key="StoreLocatorDefaultValue" value="30"/>
    <add key="StoreLocatorGoogleMapsBaseAddress" value="http://maps.googleapis.com/maps/api/staticmap?sensor=false&amp;size=940x400"/>
    <add key="StoreLocatorGoogleGeoCodeBaseAddress" value="http://maps.google.com/maps/api/geocode/json?sensor=false&amp;address="/>
    <add key="StoreLocatorShowEventsInNextDays" value="500"/>
    <add key="StoreLocatorMaxResults" value="26"/>
    <add key="StoreLocatorDisplayMsgWhenMaxResults" value="true"/>
    <add key="StoreLocatorMaxEventsPerRetailer" value="2"/>
    <add key="StoreLocatorFormPath" value="/explore/store-finder"/>
    <!--<add key="StoreLocatorLongitude" value=" -0.11982439999997041" />
    <add key="StoreLocatorLatitude" value="51.5112138999999" />-->
    <add key="StoreLocatorLongitude" value="-77.036464"/>
    <add key="StoreLocatorLatitude" value="38.907231"/>
    <add key="StoreLocatorMaxDisambigResults" value="5"/>
    <!-- Pipe-delimited 2 letter country code -->
    <add key="StoreLocatorWithinVals" value=""/>
    <!-- Country stuff GeoIP.dat -->
    <add key="GeoData" value="GeoLiteCity.dat"/>
    <add key="Culture" value="en-US"/>
    <add key="GoogleAPIsMapUrl" value="http://maps.googleapis.com/maps/api/staticmap?center={0},{1}&amp;zoom=12&amp;size=386x300&amp;sensor=false"/>
    <add key="DefaultPage" value="index.html"/>
    <add key="Registration" value="~/registration"/>
    <add key="Brands" value="~/explore/our-brands"/>
    <add key="login" value="/login/index"/>
    <add key="Logout" value="/logout"/>
    <add key="EditProfile" value="/profile/editprofile"/>
    <add key="AccessDenied" value="~/accessdenied"/>
    <add key="EventsNearYouRadius" value="500"/>
    <add key="EventsNearYouMaxResults" value="2"/>
    <add key="ProductExplorer" value="/explore"/>
    <!-- Shopping list -->
    <add key="ShoppingListEmailFrom" value="crafts@coats.com"/>
    <add key="ShoppingListEmailTemplate" value="email_shopping_list"/>
    <add key="ShoppingListPrint" value="~/shoppinglist/print.html"/>
    <!-- Site URLs - Header -->
    <add key="StoreFinder" value="/explore/store-finder"/>
    <add key="ContactUs" value="/contactus"/>
    <add key="About" value="/about"/>
    <add key="Scrapbook" value="/scrapbook"/>
    <add key="ShoppingList" value="/shoppinglist"/>
    <!-- Site URLs - Footer -->
    <add key="AboutUs" value="/about"/>
    <add key="SiteMap" value="/site-map"/>
    <add key="Accessibility" value="/accessibility"/>
    <add key="PrivacyAndCookie" value="/privacy-and-cookie-policy"/>
    <add key="Legal" value="/legal"/>
    <!-- used for retrieving images when running locally -->
    <add key="RemoteImagePath" value=""/>
    <!-- title of our brands splotlight random CT used in view -->
    <add key="OurBrandsSpotlightRandom" value="Our Brands Spotlight (Random)"/>
    <!-- Content types schema-->
    <add key="ContentTypeArticle" value="Crafts.Article"/>
    <add key="ContentTypeProject" value="Crafts.Project"/>
    <add key="ContentTypeMoodboard" value="Crafts.Moodboard"/>
    <add key="ContentTypeBlog" value="Crafts.Blog"/>
    <add key="ContentTypeTutorial" value="Crafts.Tutorial"/>
    <add key="ContentTypeGenericGeneral" value="Generic.GeneralContent"/>
    <add key="ContentTypeIntroduction" value="Crafts.Introduction"/>
    <add key="ContentTypeDesigner" value="Crafts.Designer"/>
    <add key="ContentTypeFAQ" value="Crafts.FAQ"/>
    <add key="ContentTypeBrand" value="Crafts.Brand"/>
    <!-- -->
    <add key="ContentTypeCareRepair" value="Crafts.CareRepair"/>
    <add key="ContentTypeEvent" value="Crafts.Event"/>
    <!--<add key="ContentTypeBrand" value="Crafts.Product.BrandInformation" />-->
    <add key="ContentTypeBrand" value="Crafts.Brand"/>
    <add key="ContentTypeProduct" value="Crafts.Product.*"/>
    <add key="ContentTypeProductHaberdashery" value="Crafts.Product.Haberdashery"/>
    <add key="ContentTypeActiveDiscussion" value="*.ActiveDiscussion"/>
    <!-- Content types names -->
    <add key="ContentTypeArticleTitle" value="Article"/>
    <add key="ContentTypeProjectTitle" value="Project"/>
    <add key="ContentTypeMoodboardTitle" value="Moodboard"/>
    <add key="ContentTypeBlogTitle" value="Blog"/>
    <add key="ContentTypeTutorialTitle" value="Tutorial"/>
    <add key="ContentTypeDesignerTitle" value="Designer"/>
    <add key="ContentTypeFAQTitle" value="FAQ"/>
    <add key="ContentTypeCareRepairTitle" value="Care and Repair"/>
    <add key="ContentTypeEventTitle" value="Event"/>
    <add key="ContentTypeBrandTitle" value="Brand"/>
    <add key="ContentTypeProductTitle" value="Product"/>
    <add key="ContentTypeActiveDiscussionTitle" value="Active Discussion"/>
    <add key="ContentTypeGenericPromo" value="Generic.Promo"/>
    <!-- Cookie accept and info links-->
    <add key="CookieAccept" value="/cookies/accept.html"/>
    <add key="CookieInfo" value="/cookie-policy/information.html"/>
    <!-- Facebook settings -->
    <add key="FacebookAppId" value="433429130044894"/>
    <add key="FacebookAppSecret" value="e327d800e6101b19d32d9be67f2cf9bd"/>
    <add key="FacebookNumberToReturn" value="3"/>
    <add key="FaceBookType" value="photo,status,video"/>
    <!--<add key="FaceBookStatusType" value="mobile_status_update,added_photos,shared_story,wall_post"/>-->
    <add key="DefaultLong" value="-1.9100"/>
    <add key="DefaultLat" value="52.4800"/>
    <add key="SiteUrl" value="http://coats.crafts.dev"/>
    <add key="PasswordReminderEmailFrom" value="crafts@coats.com"/>
    <add key="PasswordReminderEmailTemplate" value="password_reminder"/>
    <add key="CommentModerationAdminEmail" value="maya.patel@coats.com;Luis.Franco@coats.com;ann.moss@coats.com"/>
    <add key="CommentModerationAdminEmailTemplate" value="comment_moderation"/>
    <!-- Register Confirmation email template (will re-use the PasswordReminderEmailFrom setting, above) -->
    <add key="RegisterConfirmationEmailTemplate" value="register_confirmation"/>
    <add key="PasswordReminderPath" value="~/passwordreminder"/>
    <add key="ShareACreationEmailAddress" value="maya.patel@coats.com"/>
    <!-- Email newsletter links -->
    <add key="EmailNewsLetterConfirmation" value="~/newsletter-confirmation"/>
    <add key="EventsUrl" value="/share?events=display&amp;fh_ticked=crafts2eevent"/>
    <!-- CATS -->
    <add key="CatsInsertSQL" value="INSERT INTO WebComments (datesent, title, fname, lname, address1, address2, city, state, zipcode, country, phone, email, prodtype, proddescription, questiontype, comments) VALUES (@datesent, @title, @fname, @lname, @address1, @address2, @city, @state, @zipcode, @country, @phone, @email, @prodtype, @proddescription, @questiontype, @comments);"/>
    <add key="CatsThankYou" value="/contactus/thank-you"/>
    <add key="CoatsStrapline" value=" | Make It Coats"/>
    <add key="PageTitleProfileAppend" value="Designer Profile"/>
    <add key="PageTitleProductAppend" value="Supplies For Projects"/>
    <add key="PageTitleBrandAppend" value="Supplies For Projects"/>
    <add key="ProductFree" value="Free"/>
    <add key="Default" value="GB"/>
    <add key="GeoData" value="GeoLiteCity.dat"/>
    <add key="SiteMapFile" value="~/web.sitemap"/>
    <!-- Faceted content -->
    <add key="ItemsPerPage" value="10"/>
    <add key="ProductExplorerItemsPerPage" value="12"/>
    <add key="NestedLevelDelimiter" value="__dir__"/>
    <add key="TimeZone" value="GMT Standard Time"/>
    <add key="TimeZoneAbbr" value=""/>
    <add key="HomepageSort" value="-publishdate"/>
    <add key="HomepageItemsPerPage" value="28"/>
    <add key="Logo" value="/img/coats-logo-dark.png"/>
    <add key="SessionKey" value="BRAND_FILTER"/>
    <add key="ProductGroupFormat" value="{0}_product_groups"/>
    <!-- Options -->
    <add key="DisableWishList" value="true"/>
    <!-- Href Link change -->
    <add key="CraftsENGB" value="http://www.makeitcoats.com/en-gb"/>
    <add key="CraftsENUS" value="http://www.makeitcoats.com/en-us"/>
    <add key="CraftsDEDE" value="http://www.makeitcoats.com/de-de"/>
    <add key="IndustrialPortalENINT" value="http://www.makeitcoats.com/en-gb"/>
    <!-- Added By Ajaya for double opt-->
    <!-- Register -->
    <add key="RegisterAddSP" value="AddRegisterData"/>
    <add key="DefaultEmailNewsletter" value="no"/>
    <add key="EnableRegistrationPrivacy" value="no"/>
    <add key="EnableRegistrationThankYouPage" value="yes"/>
    <add key="CheckEmailNewsletterOption" value="true"/>
    <add key="EmailNewsletterYes" value="tcm:72-19165-1024"/>
    <!--NewsLetter Keyword -->
    <add key="NewsletterCategory" value="tcm:{0}-154946"/>
    <add key="IsDoubleOpt" value="true"/>
    <!-- API newsletter  -->
    <add key="PublicasterPrimaryKey" value="email"/>
    <add key="PublicasterMailingListId" value="4"/>
    <add key="PublicasteruserID" value="10710"/>
    <add key="PublicasterDataHeader" value="Email;FirstName;LastName;DisplayName;Interests;NewsletterOpted;NewsletterConfirmed;"/>
    <!--<add key="Publicaster Delimiter for Semicolon -->
    <add key="PublicasterDelimiter" value="5"/>
    <add key="PublicasterEncryptedAccountID" value="RqhrTxP9QFg="/>
    <add key="PublicasterApiPassword" value="Coats@123456"/>
    <add key="PublicasterSource" value="MIC"/>
    <add key="PublicasterJsonFormatResponse" value="?format = json"/>
    <add key="PublicasterListStatus" value="2"/>
    <add key="PublicasterGlobalStatus" value="1"/>
    <add key="PublicasterListImportUrl" value="https://api7.publicaster.com/Rest/ListImports.svc/"/>
    <add key="PublicasterUnSubscribeUserUrl" value="https://api7.publicaster.com/Rest/UnsubscribeSubscriber.svc/"/>
    <add key="PublicasterGetSubscriberIdByEmailUrl" value="https://api7.publicaster.com/Rest/GetSubscriberIDForEmailAddress.svc/"/>
    <add key="PublicasterGetSubscribeUserInfoUrl" value="https://api7.publicaster.com/Rest/Subscribers.svc/"/>
    <add key="PublicasterUnsubscribeToSubscribeUrl" value="https://api7.publicaster.com/Rest/Subscribers.svc/"/>
    <add key="PublicasterSubscribeUrl" value="https://api7.publicaster.com/Rest/Subscribers.svc/"/>
    <add key="Newsletterredheart" value="tcm:{0}-131522-1024"/>
    <add key="FabricPage" value="tcm:{0}-155000-64"/>
    <!--NewsLetter Keyword -->
    <add key="AllNewsletterPage" value="tcm:{0}-154965"/>
    <add key="RowanNewsletterCountry" value="United States,United Kingdom"/>
    <add key="RedHeartNewsletterCountry" value="United States,United Kingdom"/>
    <add key="SchachenmayrNewsletterCountry" value="United States,United Kingdom"/>
    <add key="MakeItCoatsNewsletterCountry" value="United States,United Kingdom"/>
    <add key="SewingNewsletterCountry" value="United States,United Kingdom"/>
    <add key="FreespirtNewsletterCountry" value="United States,United Kingdom"/>
    <add key="RowanNewsletter" value="tcm:{0}-154962"/>
    <add key="RedHeartNewsletter" value="tcm:{0}-154963"/>
    <add key="SchachenmayrNewsletter" value="tcm:{0}-154970"/>
    <add key="MakeItCoatsNewsletter" value="tcm:{0}-154964"/>
    <add key="FreespirtNewsletter" value="tcm:{0}-154969"/>
    <add key="SewingNewsletter" value="tcm:{0}-154971"/>
    <add key="PrivacyPolishPath" value="/privacy-and-cookie-policy"/>
    <add key="OurBrandsOpenInNewTab" value="redheart;Red Heart;Rowan Yarns;Schachenmayr"/>
    <add key="CommentsAdminUsers" value="Maya,Ajaya"/>
    <add key="NewlatterEmailTemplate" value="Newsletter"/>
    <add key="IsPrivacyEnable" value="true"/>
    <add key="IsSendRegisterConfirmationEmail" value="true"/>
    <!-- Register -->
    <add key="RegisterAddSP" value="AddRegisterData"/>
    <add key="RegisterWelcome" value="/registration/welcome"/>
    <add key="RegisterThankYou" value="http://crafts/registration/thankyou"/>
    <!-- API newsletter  -->
    <add key="CraftNewsKeywords" value="154942,154941,154943,154944,154940,154967"/>
    <add key="CraftKeywords" value="18063,18057,18068,18074,18079,18059,37732,37849,37735,37718,37733,25717,37734,17739,17740,17741,17742,110469,110470,110471,11071,15496,15497,15498,15501,15505,15507,11978"/>
    <add key="MakeItCoatsNewsListCategory" value="tcm:{0}-154967-1024"/>
    <add key="RowanNewsListCategory" value="tcm:{0}-154942-1024"/>
    <add key="RedHeartNewsListCategory" value="tcm:{0}-154941-1024"/>
    <add key="SewingNewsListCategory" value="tcm:{0}-154944-1024"/>
    <add key="FreespirtNewsListCategory" value="tcm:{0}-154940-1024"/>
    <add key="SchachenmayrNewsListCategory" value="tcm:{0}-154943-1024"/>
    <add key="DefaultNewsletter" value="tcm:{0}-154967-1024"/>
    <add key="PublicasterListActiveStatus" value="2"/>
    <add key="PublicasterListPendingStatus" value="1"/>
  </appSettings>
  <system.web>
    <httpRuntime enableVersionHeader="false"/>
    <customErrors defaultRedirect="~/error" mode="Off">
      <error statusCode="404" redirect="~/page-not-found"/>
    </customErrors>
    <globalization resourceProviderFactoryType="Coats.Crafts.Resources.DynamicResourceProviderFactory"/>
    <machineKey validationKey="5DECC2E6E3AAA089B838A56A5332EB4B91B08A53B0349A51073ECD4B405C112B56D186DAF342947D206A004789F8A5F9D27BCB1B48ABA7D1A95002124B84D3A8" decryptionKey="9CA80D2B546CBC8C5C55C6DC4AAF6F9E7196DDE4BAAEFCBB10C35152C67E3E7F" validation="SHA1" decryption="AES"/>
    <compilation targetFramework="4.0" debug="true">
      <buildProviders>
        <add extension=".htm" type="System.Web.Compilation.PageBuildProvider"/>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
        <add extension=".txt" type="System.Web.Compilation.PageBuildProvider"/>
        <add extension=".ico" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <!-- usecookies required so that IE10 can log in http://stackoverflow.com/questions/6983732/ie10-user-agent-causes-asp-net-to-not-send-back-set-cookie-ie10-not-setting-coo -->
      <forms loginUrl="~/registration" cookieless="UseCookies" timeout="2880" defaultUrl="/"/>
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
    <membership defaultProvider="CustomCoatsMembershipProvider">
      <providers>
        <clear/>
        <add name="CustomCoatsMembershipProvider" type="Coats.IndustrialPortal.Providers.CoatsMembershipProvider, Coats.IndustrialPortal.Providers, Version=1.0.0.0, Culture=neutral" applicationName="Coats" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed"/>
      </providers>
    </membership>
    <profile defaultProvider="CustomCoatsProfileProvider" automaticSaveEnabled="false" inherits="Coats.IndustrialPortal.Providers.CoatsUserProfile, Coats.IndustrialPortal.Providers">
      <providers>
        <clear/>
        <add name="CustomCoatsProfileProvider" type="Coats.IndustrialPortal.Providers.CoatsProfileProvider,  Coats.IndustrialPortal.Providers" connectionStringName="" allowAnonymous="false"/>
      </providers>
      <properties>
        <clear/>
      </properties>
    </profile>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!-- Only Duration, VaryByCustom, and VaryByParam values are supported by default. -->
          <!-- If using FredHopperOutputCache, then Enabled is also supported.               -->
          <add name="FacetedContent" duration="600" varyByCustom="facet" enabled="false"/>
          <add name="Homepage" duration="300" enabled="true"/>
          <add name="FeaturedItems" duration="300" varyByCustom="facet" enabled="true"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor"/>
      <remove name="UrlRoutingModule-4.0"/>
    </modules>
    <rewrite>
      <providers>
        <provider name="CoatsCraftsRedirects" type="FileMapProvider, Microsoft.Web.Iis.Rewrite.Providers, Version=7.1.761.0, Culture=neutral, PublicKeyToken=0545b0627da60a5f">
          <settings>
            <add key="FilePath" value="{APPL_PHYSICAL_PATH}\App_Data\301_redirects_crafts.txt"/>
            <add key="IgnoreCase" value="1"/>
            <add key="Separator" value=","/>
          </settings>
        </provider>
      </providers>
      <rules>
        <clear/>
        <rule name="VanityUrls">
          <match url="(\w{2}-\w{2})/(.*)"/>
          <conditions>
            <add input="{QUERY_STRING}" pattern="vanity_url=1" negate="true"/>
            <add input="{CoatsCraftsRedirects:{R:2}}" pattern="(.+)"/>
            <add input="##{C:1}" pattern="##([^\?]+)\??(.+)?$" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" url="{R:1}/{C:1}?vanity_url=1&amp;{C:2}" redirectType="Permanent"/>
        </rule>
        <rule name="Remove trailing slash" stopProcessing="true">
            <match url="(.*)/$"/>
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>             
          </conditions>
            <action type="Redirect" redirectType="Permanent" url="{R:1}"/>
        </rule>
        <rule name="Convert to lower case" stopProcessing="true">
            <match url=".*[A-Z].*" ignoreCase="false"/>
          <conditions>
            <add input="{URL}" negate="true" pattern="\.jpg$"/>
            <add input="{URL}" negate="true" pattern="\.gif$"/>
            <add input="{URL}" negate="true" pattern="\.png$"/>
            <add input="{URL}" negate="true" pattern="\.pdf$"/>
            <add input="{URL}" negate="true" pattern="\.doc$"/>
            <add input="{URL}" negate="true" pattern="\.css$"/>
            <add input="{URL}" negate="true" pattern="\.js$"/>
            <add input="{URL}" negate="true" pattern="\.dat$"/>
          </conditions>
            <action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent"/>
        </rule>
        <rule name="Remove Index" stopProcessing="true">
          <match url="(.*)/index.html$"/>
          <action type="Redirect" redirectType="Permanent" url="{R:1}"/>
        </rule>
        <rule name="DE Redirect to de-de" stopProcessing="true">
          <match url="(^de$)|(^de/$)"/>
          <action type="Redirect" url="/de-de"/>
        </rule>
      </rules>
    </rewrite>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Redirector" verb="GET" path="*" type="Coats.Crafts.Redirector.CoatsGeoIPRedirection"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_CoatsServices" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32627" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="FASWebServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="SmartTargetDeploymentPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tridion.page.service/CoatsTridionpageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CoatsServices" contract="CoatsTridionPageServiceRef.ICoatsTridionPageServiceContract" name="TridoinPageService"/>
      <endpoint address="http://tridion.component.service/CoatsTridionComponentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CoatsServices" contract="CoatsTridionComponentServiceRef.ICoatsTridionComponentServiceContract" name="TridoinComponentService"/>
      <endpoint address="http://tridion.link.service/CoatsTridionLinkService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CoatsServices" contract="CoatsTridionLinkServiceRef.ICoatsTridionLinkServiceContract" name="TridoinLinkService"/>
      <endpoint address="http://coats.integration.service/CoatsIntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CoatsServices" contract="CoatsIntegrationService.ICoatsIntegrationServiceContract" name="IntegrationService"/>
      <endpoint address="http://coaipwebappq01:8180/fredhopper-ws/services/FASWebService" binding="basicHttpBinding" bindingConfiguration="FASWebServiceSoapBinding" contract="FASWebService.FASWebService" name="FASWebService"/>
      <endpoint address="http://coats.crafts.integrationservice/Coats.Crafts.IntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CoatsServices" contract="CraftsIntegrationService.ICoatsCraftsIntegrationServiceContract" name="BasicHttpBinding_ICoatsCraftsIntegrationServiceContract"/>
      <endpoint address="http://coaipwebappq01:8080/SmartTargetDeploymentWebService/SmartTargetDeploymentWebService" binding="basicHttpBinding" bindingConfiguration="SmartTargetDeploymentPortBinding" contract="SmartTargetDeploymentWebService.SmartTargetDeployment" name="SmartTargetDeploymentPort"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- For the Redirector -->
  <FileChecks>
    <add key="Google" value="google(.*)\.htm(l)?"/>
    <add key="Akamai" value="akamai-(.*)\.htm(l)?"/>
    <add key="Robots" value="robots.txt"/>
    <add key="Favicon" value="favicon.ico"/>
  </FileChecks>
  <CountryUrls>
    <add key="US" value="/en-us"/>
    <add key="GB" value="/en-gb"/>
    <add key="ES" value="/en-gb"/>
    <add key="AI" value="/en-us"/>
    <add key="AG" value="/en-us"/>
    <add key="AW" value="/en-us"/>
    <add key="BS" value="/en-us"/>
    <add key="BB" value="/en-us"/>
    <add key="BZ" value="/en-us"/>
    <add key="BM" value="/en-us"/>
    <add key="BQ" value="/en-us"/>
    <add key="VG" value="/en-us"/>
    <add key="CA" value="/en-us"/>
    <add key="KY" value="/en-us"/>
    <add key="CR" value="/en-us"/>
    <add key="CU" value="/en-us"/>
    <add key="CW" value="/en-us"/>
    <add key="DM" value="/en-us"/>
    <add key="DO" value="/en-us"/>
    <add key="SV" value="/en-us"/>
    <add key="GL" value="/en-us"/>
    <add key="GD" value="/en-us"/>
    <add key="GP" value="/en-us"/>
    <add key="GT" value="/en-us"/>
    <add key="HT" value="/en-us"/>
    <add key="HN" value="/en-us"/>
    <add key="JM" value="/en-us"/>
    <add key="MQ" value="/en-us"/>
    <add key="MX" value="/en-us"/>
    <add key="MS" value="/en-us"/>
    <add key="NI" value="/en-us"/>
    <add key="PA" value="/en-us"/>
    <add key="PR" value="/en-us"/>
    <add key="SX" value="/en-us"/>
    <add key="TT" value="/en-us"/>
    <add key="TC" value="/en-us"/>
    <add key="VI" value="/en-us"/>
    <add key="AR" value="/en-us"/>
    <add key="BO" value="/en-us"/>
    <add key="BR" value="/en-us"/>
    <add key="CL" value="/en-us"/>
    <add key="CO" value="/en-us"/>
    <add key="EC" value="/en-us"/>
    <add key="FK" value="/en-us"/>
    <add key="GF" value="/en-us"/>
    <add key="GY" value="/en-us"/>
    <add key="PY" value="/en-us"/>
    <add key="PE" value="/en-us"/>
    <add key="SR" value="/en-us"/>
    <add key="UY" value="/en-us"/>
    <add key="VE" value="/en-us"/>
  </CountryUrls>
  <!-- For the country/language selector -->
  <CountryConfigSection>
    <add name="United Kingdom" url="/en-gb" culture="en-gb"/>
    <add name="United States" url="/en-us" culture="en-us"/>
    <add name="Germany" url="/de-de" culture="de-de"/>
  </CountryConfigSection>
  <SocialMediaLinkSection>
    <add name="Pinterest" href="http://www.pinterest.com/coatsandclark/" title="" class="pinterest-light"/>
    <add name="Facebook" href="https://www.facebook.com/pages/Coats-Crafts-UK/335056417389" title="" class="facebook-light"/>
  </SocialMediaLinkSection>
  <CtaTemplateIdSection>
    <!--
    <add tcmId="19939" description="Find A Store (Pod)"/>
    <add tcmId="19946" description="Get Involved (Pod)"/>
    -->
  </CtaTemplateIdSection>
  <FredHopperExtendedProperties>
    <add key="commentcount" value="commentcount"/>
    <add key="lastcommentdate" value="lastcommentdate"/>
    <add key="commenturl" value="commenturl"/>
    <add key="rating" value="rating"/>
    <add key="comment1" value="comment1"/>
    <add key="commentby1" value="commentby1"/>
    <add key="commentdate1" value="commentdate1"/>
    <add key="comment2" value="comment2"/>
    <add key="commentby2" value="commentby2"/>
    <add key="commentdate2" value="commentdate2"/>
    <add key="comment3" value="comment3"/>
    <add key="commentby3" value="commentby3"/>
    <add key="commentdate3" value="commentdate3"/>
  </FredHopperExtendedProperties>
  <HomePageTabsSection>
    <!-- No need to specify the complete list anymore. You just need to select the highest level you want in the dataFilter e.g.: -->
    <!-- <add key="techniques__dir__crochet" dataFilter=".techniques__dir__crochet,.cta" displayOrder="3" />                      -->
    <!-- - will give you all Crochet items downwards. However, if you want to be more targetted, you could specify:               -->
    <!-- <add key="techniques__dir__crochet" dataFilter=".techniques__dir__crochet__dir__granny_sqaures,.cta" displayOrder="3" /> -->
    <!-- - will give you all Crochet Granny Squares items downwards.                                                              -->
    <!--
    <add key="techniques__dir__sewing___quilting" dataFilter=".sewing_quilting,.applique_se,.decorative_machine_stitching,.fabric_crafts_se,.free_motion,.garment_sewing_se,.gathered_stitch,.heirloom_sewing_se,.home_decor_se,.machine_embroidery_se,.machine_hem_se,.patchwork,.piecing,.quilting,.quilting_quickly,.running_stitch_se,.satin_stitch,.sewing_se,.shell_stitch,.smocking_se,.straight_stitch,.zigzag_stitch_se,.zip_art,.zipper_installation,.cta" displayOrder="1" />
    <add key="techniques__dir__knitting" dataFilter=".knitting,knitting circular_knitting_kt,.fisherman_knits_kt,.garter_stitch,.hand_knit_yarn_kt,.hand_knitting_kt,.intarsia_kt,.knit_felting_kt,.knitting_kt,.knitting_dolly_kt,.lace_knitting_kt,.lace_stitch_kt,.purl_stitch_kt,.rib_stitch_kt,.sock_knitting_kt,.sockinette_stitch_kt,.stocking_stitch,.knitting-patchwork_kt,.cta" displayOrder="2" />
    <add key="techniques__dir__crochet" dataFilter=".crochet,.broomstick_lace_cr,.crochet_mixed_techniques_cr,.filet_cr,.granny_squares_cr,.lace_crochet,.open_work_crochet_cr,.picot_edging_cr,.ripple_stitch_cr,.treble_stitch,.crochet__embroidery_cr,fork_crochet__hairpin_lace_cr,.tunesian_crochet__afghan_stitch_cr,.crochet__embroidery_cr,.crochet__knitting_cr,.crochet-patchwork_cr,.cta" displayOrder="3" />
    <add key="techniques__dir__embroidery" dataFilter=".embroidery,.ajour_em,.blackwork_em,.canvas_work_em,.counted_cross_stitch_em,.cross_stitch_em,.cutwork_em,.dawn_thread_embroidery_em,.embroidery_em,.florentine,.freestyle_embroidery_em,.half_cross_em,.hardanger,.huckabuck_weave_em,.long_stitch_em,.mixed_stitches_em,.myreschka_em,.needlepoint_em,.openwork_em,.ribbon_embroidery_em,.richelieu_em,.shadow_work_em,.single_cross_stitch, .white_embroidery_em,.needlepainting_for_us_em,.tapestry_for_uk,.cta" displayOrder="4" />
    -->
    <add key="72_techniques__dir__sewing___quilting" dataFilter=".72_techniques__dir__sewing___quilting,.cta" tabText="Sewing &amp; Quilting" displayOrder="1"/>
    <add key="72_techniques__dir__knitting" dataFilter=".72_techniques__dir__knitting,.cta" tabText="Knitting" displayOrder="2"/>
    <add key="72_techniques__dir__crochet" dataFilter=".72_techniques__dir__crochet,.cta" tabText="Crochet" displayOrder="3"/>
    <add key="72_techniques__dir__embroidery" dataFilter=".72_techniques__dir__embroidery,.cta" tabText="Embroidery" displayOrder="4"/>
  </HomePageTabsSection>
  <!-- Need away to form a FH second id form a given component TCM - need to know the template ID to do it -->
  <!-- Would have prefered to query FH using component id but its not a live attribute so would mean a complete reindex! -->
  <SchemaTemplate>
    <add key="Crafts.Article" value="19916"/>
    <add key="Crafts.Blog" value="19919"/>
    <add key="Crafts.Brand" value="19921"/>
    <add key="Crafts.CareRepair" value="19922"/>
    <add key="Crafts.Designer" value="19926"/>
    <add key="Crafts.Event" value="19928"/>
    <add key="Crafts.FAQ" value="19936"/>
    <add key="Crafts.Moodboard" value="19952"/>
    <add key="Crafts.Project" value="19962"/>
    <add key="Crafts.Tutorial" value="19974"/>
    <add key="Crafts.Product.Canvas" value="19959"/>
    <add key="Crafts.Product.ConsumerSewing" value="19959"/>
    <add key="Crafts.Product.Crochet" value="19959"/>
    <add key="Crafts.Product.Embroidery" value="19959"/>
    <add key="Crafts.Product.Haberdashery" value="19959"/>
    <add key="Crafts.Product.HandKnitting" value="19959"/>
    <add key="Crafts.Product.Kit" value="19959"/>
    <add key="Crafts.Product.LifestyleFabric" value="19959"/>
    <add key="Crafts.Product.MachineEmbroidery" value="19959"/>
    <add key="Crafts.Product.Publication" value="19959"/>
    <add key="Crafts.Product.Zip" value="19959"/>
  </SchemaTemplate>
  <!--system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="SdrConfigExample.e2e" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics-->
</configuration>