@using Coats.Crafts.Configuration;
@using Coats.Crafts.CDS;
@model Coats.Crafts.Models.RegistrationConfirmation
@{
    Layout = null;


    var fields = Model.cp.Component.Fields;

}   
<section class="cats-contact">
    @Html.Partial("~/Views/Partials/HeaderSimple.cshtml", Model.cp)
    <div class="row-fluid">
    @if (Model.IsEmailExist)
    {
        if (fields.ContainsKey("body"))
        {
            <p>@fields["body"].Values[0].ResolveRichText()</p>
        }
    }
    else
    {
     if (fields.ContainsKey("summary"))
     {
            <p>@fields["summary"].Values[0].ResolveRichText()</p>
     }
    }
    </div>
    </section> 