<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CountryUrls" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appSettings>
    <add key="Default" value="US" />
    <!--<add key="GeoData" value="GeoIP.dat" />-->
    <add key="GeoData" value="GeoLiteCity.dat" />
  </appSettings>
  <CountryUrls>
    <add key="US" value="http://www.microsoft.com"/>
    <add key="GB" value="http://www.bbc.co.uk"/>
  </CountryUrls>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true" />
    <handlers>
      <add name="Redirector" verb="GET" path="*" type="Redirector.GeoIPRedirection" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="OutputCache" />
      <remove name="Session" />
      <remove name="WindowsAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="RoleManager" />
      <remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />
      <remove name="AnonymousIdentification" />
      <remove name="Profile" />
      <remove name="ErrorHandlerModule" />
      <remove name="ServiceModel" />
      <remove name="UrlRoutingModule-4.0" />
      <remove name="ScriptModule-4.0" />
      <remove name="DefaultAuthentication" />
      <remove name="UrlMappingsModule" />
      <remove name="ServiceModel-4.0" />
    </modules>
  </system.webServer>
</configuration>
