<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
<configSections>
<section name="Coats.Crafts.addThisPinterest" type="System.Configuration.IgnoreSectionHandler" allowLocation="false" />
<section name="Coats.Crafts.addThisSideBar" type="System.Configuration.IgnoreSectionHandler" allowLocation="false" />
<section name="Coats.Crafts.addThisMenu" type="System.Configuration.IgnoreSectionHandler" allowLocation="false" />
</configSections>

<Coats.Crafts.addThisSideBar>  
<![CDATA[
<div id="sideshare">
<div class="addthis_toolbox">
<a class="addthis_button_facebook"><span class="icon facebook"></span></a>
<a class="addthis_button_pinterest_share"><span class="icon pinterest"></span></a>
<a title="Twitter" class="addthis_button_twitter"><span class="icon twitter"></span></a>
<a title="Share" class="addthis_button_expanded"><span class="icon share"></span></a>
</div>
</div>
]]></Coats.Crafts.addThisSideBar> 

<Coats.Crafts.addThisMenu><![CDATA[ 
<div class="addthis_toolbox">
  <a class="addthis_button_facebook"><span class="icon facebook-light"></span></a>
  <a class="addthis_button_pinterest_share"><span class="icon pinterest-light"></span></a>
  <a title="Twitter" class="addthis_button_twitter"><span class="icon twitter-light"></span></a>
  <a class="addthis_button_expanded"><span class="icon share-light"></span></a>
</div>
]]></Coats.Crafts.addThisMenu> 

<appSettings>
	<add key="DD4T.PublicationId" value="86" />
	<add key="AddressBookId" value="161" />
	<add key="Culture" value="de-DE" />
	<add key="StoreLocatorLongitude" value="10.00585" />
	<add key="StoreLocatorLatitude" value="51.09665" />
</appSettings>
<system.webServer>
   <modules>
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
   </modules>
   <handlers>
      <remove name="Redirector" />
   </handlers>
	<rewrite>
      <rules>  
        <rule name="Anchor Level 1 Brand" stopProcessing="true">
          <match url="^anchor" />
          <serverVariables>
            <set name="HTTP_X_BRAND_FILTER" value="86_brands|anchor|89482|Anchor" />
          </serverVariables>
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^GET$" />
          </conditions>
          <action type="Rewrite" url="explore/our-brands/anchor" appendQueryString="true" />
        </rule>
        <rule name="Rowan Fabrics Level 1 Brand" stopProcessing="true">
          <match url="^rowan-fabric" />
          <serverVariables>
            <set name="HTTP_X_BRAND_FILTER" value="86_brands|rowan_fabric|89501|Rowan" />
          </serverVariables>
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^GET$" />
          </conditions>
          <action type="Rewrite" url="explore/our-brands/rowan-fabric" appendQueryString="true" />
        </rule>
        <rule name="Freespirit Level 1 Brand" stopProcessing="true">
          <match url="^freespirit-fabric" />
          <serverVariables>
            <set name="HTTP_X_BRAND_FILTER" value="86_brands|freespirit_fabric|89492|Freespirit" />
          </serverVariables>
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^GET$" />
          </conditions>
          <action type="Rewrite" url="explore/our-brands/freespirit-fabric" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>   
</system.webServer>

<HomePageTabsSection>
	<clear/>
	<add key="86_techniques__dir__sewing___quilting" dataFilter=".86_techniques__dir__sewing___quilting,.cta" tabText="Sewing &amp; Quilting" displayOrder="1" />
	<add key="86_techniques__dir__knitting" dataFilter=".86_techniques__dir__knitting,.cta" tabText="Knitting" displayOrder="2" />
	<add key="86_techniques__dir__crochet" dataFilter=".86_techniques__dir__crochet,.cta" tabText="Crochet" displayOrder="3" />
	<add key="86_techniques__dir__embroidery" dataFilter=".86_techniques__dir__embroidery,.cta" tabText="Embroidery" displayOrder="4" />
</HomePageTabsSection>
  
</configuration>