@using DD4T.ContentModel;
@{
    Layout = null;

    IPage page = ViewBag.Page as IPage;    
}

<form action="hybrid.html" method="post">
    <input type="text" name="Name" id="Name" size="20" />
    <input type="submit" value="submit" />
</form>


<h1>@ViewBag.Name</h1>
<h1>@if (page != null)
    {
        @page.Title
    }
    
@using (Html.BeginForm("Index", "Hybrid"))
{
<input type="text" name="Name" id="Name" size="20" />
    <input type="submit" value="submit" />
}
