@using Coats.Crafts.HtmlHelpers
@model Coats.Crafts.Models.ProductExplorer

@{
	Layout = null;
    <!-- Maps to ComponentTypes.cshtml -->
	@Html.Partial("~/Views/Partials/T3-MenuVariant.cshtml");
    <!-- Maps to FacetMap.cshtml -->
	@Html.Partial("~/Views/Partials/FilterPanel.cshtml", Model);
    <!-- Maps to dropdown listbox -->
}   
<section class="product-header">
	<div class="row-fluid headers">
		<div class="span6">
			<h1>@ViewBag.Title</h1>
		</div> 
    </div>
</section>
@Html.Partial("~/Views/Partials/T3-LevelOneFilter.cshtml", Model.Brand)
@{
    Html.RenderPartial("~/Views/Partials/T3-Isotope.cshtml", Model.ComponentList, "ComponentList");
}
