<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICoatsCraftsIntegrationServiceContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://coats.crafts.integrationservice/Coats.Crafts.IntegrationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoatsCraftsIntegrationServiceContract"
                contract="CraftsIntegrationService.ICoatsCraftsIntegrationServiceContract"
                name="BasicHttpBinding_ICoatsCraftsIntegrationServiceContract" />
        </client>
    </system.serviceModel>
</configuration>